<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Note {@note.id}
    <:subtitle>Use this form to manage note records in your database.</:subtitle>
  </.header>

  <.note_form changeset={@changeset} action={~p"/admin/games/#{@game.id}/notes/#{@note}"} return_to={~p"/admin/games/#{@game.id}/notes"} />
</Layouts.app>
