<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Character {@character.id}
    <:subtitle>Use this form to manage character records in your database.</:subtitle>
  </.header>

  <.character_form changeset={@changeset} action={~p"/admin/games/#{@game.id}/characters/#{@character}"} return_to={~p"/admin/games/#{@game.id}/characters"} />
</Layouts.app>